# 1.4 Skills: Pandas üêº

In this notebook we will cover how to:
- work with the two main data types in `pandas`: `DataFrame` and `Series`
- work with data types in `pandas`, especially strings and dates
- load data from JSON and CSV into a `DataFrame`
- manipulate the columns of a `DataFrame`
- access data in a `DataFrame` by means of indexes and slicing

## `pandas`' data structures

### `Series`

In `pandas`, series are the building blocks of dataframes.

Think of a series as a column in a table. A series collects *observations* about a given *variable*.

In [1]:
import random
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#### Numerical series

In [4]:
# let's create a series containing 100 random numbers
# ranging between 0 and 1

s = pd.Series([random.randint(0, 1000) for n in range(0, 100)])

Each observation in the series has an **index** as well as a set of **values**: they can be accessed via the omonymous properties:

In [4]:
s.index

RangeIndex(start=0, stop=100, step=1)

In [5]:
list(s.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [6]:
s.values

array([100, 177, 283, 561, 508, 606, 522, 331, 389, 170, 232, 470, 957,
       654, 587, 180, 924,  69, 165, 792, 940, 237, 533, 701, 216, 264,
       617, 108, 124, 150, 261, 541, 162, 939, 856,  49,  23, 930, 883,
       123, 148, 131, 763, 964, 169, 447, 720, 331, 522, 517, 553, 619,
       775, 432, 177, 661, 633, 166, 241, 874, 403, 491, 726,  87, 436,
        46, 343, 799, 741, 108, 918, 771, 541, 472, 620, 231, 612, 832,
       497, 438,  21, 669,  40, 909, 531, 699, 442, 420, 623,  50, 479,
       210, 361,   3, 717, 364,  74, 379, 583, 749])

The `head()` and `tail()` methods allows for looking at the begininning and end of a series:

In [6]:
s.head()

0    0.551436
1    0.140249
2    0.494936
3    0.776577
4    0.292215
dtype: float64

In [7]:
s.tail()

95    0.329382
96    0.749831
97    0.394661
98    0.140219
99    0.274309
dtype: float64

The `value_counts()` method returns a count of distinct values within a series.

Is there any number in `s` that occurs twice?

In [7]:
s.value_counts()

108    2
177    2
522    2
331    2
541    2
      ..
162    1
261    1
150    1
124    1
749    1
Length: 95, dtype: int64

In [10]:
s.value_counts()

108    2
177    2
522    2
331    2
541    2
      ..
162    1
261    1
150    1
124    1
749    1
Length: 95, dtype: int64

In [11]:
# a `Series` can be easily cast into a list

list(s.value_counts()).count(2)

5

Another way of verifying this:

In [12]:
s.is_unique

False

In [13]:
s.min()

3

In [14]:
s.max()

964

In [15]:
s.mean()

456.12

In [16]:
s.median()

471.0

#### Datetime series

In [17]:
from random import randint

In [19]:
from datetime import date

In [20]:
# let's generate a list of random dates
# in the range 1900-1950

dates = [
    date(
        year,
        randint(1, 12),
        randint(1, 28) # try replacing with 31 and see what happens
    )
    for year in range(1900,1950)
]

In [21]:
dates[:5]

[datetime.date(1900, 7, 15),
 datetime.date(1901, 12, 22),
 datetime.date(1902, 4, 5),
 datetime.date(1903, 8, 12),
 datetime.date(1904, 6, 10)]

In [24]:
s1 = pd.Series(dates)

In [25]:
s1

0     1900-07-15
1     1901-12-22
2     1902-04-05
3     1903-08-12
4     1904-06-10
5     1905-02-18
6     1906-10-27
7     1907-11-05
8     1908-07-21
9     1909-06-11
10    1910-02-24
11    1911-11-04
12    1912-11-01
13    1913-03-10
14    1914-06-01
15    1915-07-10
16    1916-04-05
17    1917-08-03
18    1918-04-10
19    1919-06-11
20    1920-05-21
21    1921-09-03
22    1922-11-18
23    1923-04-12
24    1924-10-28
25    1925-09-26
26    1926-12-03
27    1927-10-22
28    1928-12-09
29    1929-12-27
30    1930-01-05
31    1931-10-12
32    1932-08-24
33    1933-04-16
34    1934-05-27
35    1935-02-27
36    1936-02-12
37    1937-12-27
38    1938-07-07
39    1939-07-23
40    1940-11-01
41    1941-03-24
42    1942-12-21
43    1943-03-22
44    1944-03-05
45    1945-05-26
46    1946-05-23
47    1947-05-26
48    1948-09-25
49    1949-04-08
dtype: object

In [ ]:
type(s1[1])

In [26]:
s1 = Series(pd.to_datetime(dates))

In [27]:
type(s1[1])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
s1[1].day_name()

'Sunday'

In [29]:
s1.min()

Timestamp('1900-07-15 00:00:00')

In [30]:
s1.max()

Timestamp('1949-04-08 00:00:00')

In [31]:
s1.mean()

Timestamp('1925-01-12 03:21:36')

### `DataFrame`


What is a `pandas.DataFrame`? Think of it as an in-memory spreadsheet that you can analyse and manipulate programmatically.

A `DataFrame` is a collection of `Series` having the same length and whose indexes are in sync. A *collection* means that each column of a dataframe is a series

Let's create a toy `DataFrame` by hand.

In [32]:
dates = [
    date(
        year,
        randint(1, 12),
        randint(1, 28) # try replacing with 31 and see what happens
    )
    for year in range(1980,1990)
]

In [33]:
counts = [
    randint(0, 10000)
    for i in range(0, 10)
]

In [34]:
event_types = ["fire", "flood", "car_crash", "plane_crash"]
events = [
    np.random.choice(event_types)
    for i in range(0, 10)
]

In [35]:
assert len(events) == len(counts) == len(dates)

In [36]:
toy_df = pd.DataFrame({
    "date": dates,
    "count": counts,
    "event": events
})

In [38]:
dates

[datetime.date(1980, 1, 4),
 datetime.date(1981, 7, 22),
 datetime.date(1982, 6, 7),
 datetime.date(1983, 1, 22),
 datetime.date(1984, 1, 5),
 datetime.date(1985, 12, 27),
 datetime.date(1986, 5, 26),
 datetime.date(1987, 3, 16),
 datetime.date(1988, 6, 13),
 datetime.date(1989, 4, 24)]

In [41]:
type(counts)

list

In [44]:
toy_df.date

0    1980-01-04
1    1981-07-22
2    1982-06-07
3    1983-01-22
4    1984-01-05
5    1985-12-27
6    1986-05-26
7    1987-03-16
8    1988-06-13
9    1989-04-24
Name: date, dtype: object

In [45]:
type(toy_df.date)

pandas.core.series.Series

**Try out**: what happens if you change the length of either of the two lists? Try e.g. passing 20 dates instead of 10.

In [ ]:
# instead of a dictionary of lists, you can pass
# directly a dictionary of `pandas.Series`. The result is the same.

toy_df = pd.DataFrame(
    {
        "date": pd.to_datetime(date_series),
        "count": count_series,
        "event": Series(events)
    }
)

In [ ]:
toy_df

In [ ]:
# a df is a collection of series
# each column is a series

type(toy_df.date)

In [ ]:
toy_df.info()

## Data manipulation in `pandas`

### Data types

String, datetimes (see above), categorical data.

In `pandas`, categories behave very much like string, yet they lead to better performances (faster operations, optimized storage).

Bottom-up approach:

In [ ]:
# transforms a Series with strings into categories

toy_df.event.astype('category')

Top-down approach:

In [ ]:
# here the list of categories is defined beforehand

from pandas.api.types import CategoricalDtype

cat_type = CategoricalDtype(
    categories=["flood", "fire", "car_crash", "earth_quake", "plane_crash"],
    ordered=True
)

toy_df.event = toy_df.event.astype(cat_type)

In [ ]:
toy_df.head(3)

**Question**: what happens if you remove e.g. "plane_crash" from the list `categories`? Can you explain why?

##### How are categories represented?

In [ ]:
toy_df.event.cat.codes

In [ ]:
toy_df.event.cat.categories

In [ ]:
toy_df.event.cat.rename_categories({"plane_crash": "airplane_crash"}, inplace=True)

In [ ]:
toy_df.head()

In [ ]:
toy_df.event.cat.rename_categories({"plane_crash": "plane_crash"}, inplace=True)

In [ ]:
toy_df.head()

In [ ]:
# back to the original type

toy_df.event.astype(str)

### Accessor properties

For certain data types (string, datetime), `pandas` provides a number of common methods that can be called on any series containing values of that type. These methods become available as methods of the series itself within a property ‚Äî called *accessor* ‚Äî named after the data type:

- the `.dt.*` accessor contains methods to operate on `datetime` series
- the `str.` accessor contains methods to operate on `str` (string) series.

As you will see in a moment, these methods are very convenient when filtering rows of a dataset based on the value of a certain column.

#### `datetime` accessor

To work with datetime series `pandas` provide a bunch of useful methods to operate on a series: they can be called from the `.dt` property of a datetime series.

They can be used to:
- convert from one timezone to another
- get the day/day name/month/year information from each date
- and much more (see the [documentation]())

In [ ]:
s1.head()

In [ ]:
s1.dt.weekday_name.head()

#### `str` accessor

In [ ]:
s = Series(["One", "TWO", "tHrEE"])

Accessors can be used to apply filters to a series by verifying whether a certain condition is verified or not, such is the case with `contains()`. Such methods will output a boolean value (`True` or `False`).

In [ ]:
s.str.contains('o')

In [ ]:
s.str.contains('O')

Other methods can be used, instead, to manipulate an entire series, e.g. `lower()` and `upper()`.

In [ ]:
s.str.lower()

### Exploring a dataframe

Exploring a dataframe: `df.head()`, `df.tail()`, `df.info()`.

The method `info()` gives you information about a dataframe:
- how much space does it take in memory?
- what is the datatype of each column?
- how many records are there?
- how many `null` values does each column contain (!)?

In [ ]:
toy_df.info()

Alternatively, if you need to know only the number of columns and rows you can use the `.shape` property.

It returns a tuple with 1) number of rows, 2) number of columns.

In [ ]:
toy_df.shape

`head()` prints by first five rows of a dataframe:

In [ ]:
toy_df.head()

But the number of lines displayed is a parameter that can be changed:

In [ ]:
toy_df.head(2)

`tail()` does the opposite, i.e. prints the last n rows in the dataframe:

In [ ]:
toy_df.tail()

### Loading data

Dataframe can be created from scratch as we did above, but most often they are created by loading existing data into a dataframe by means of `pandas`' input/oputput methods.

#### From JSON

Loading data from a JSON file is very similar to creating a `DataFrame` from a `dict`.

This is how one would do it in pure Python:

In [ ]:
import json
json_file_path = '../data/bl_books/sample/book_data_sample.json'

# JSON data gets read into a dictionary

with open(json_file_path, 'r') as jsonfile:
    json_data = json.load(jsonfile)
    
books_df = pd.DataFrame(json_data)

Since reading from files is a very common operation in any data analysis workflow, `pandas` provides methods to read from a variety of formats (JSON, CSV, clipboard, etc.)

The block of code above can be replaced by the following one-liner:

In [ ]:
books_df = pd.read_json(json_file_path)

In [ ]:
books_df = pd.DataFrame(json_data)

In [ ]:
books_df.head(2)

In [ ]:
books_df.info()

**NB**: note the number of missing values for the `books_df.imgs` (n=172).

#### From CSV

Similarly to `pandas.read_json()`, `pandas.read_csv()` is there to make your life easier when it comes to loading CSV data into a dataframe (and that happens very often!).

Let's import one of the CSV files from the "Venice Apprenticeship" dataset (`../data/apprenticeship_venice/`).

In [ ]:
csv_file_path = '../data/apprenticeship_venice/professions_data.csv'

In [ ]:
garzoni_df = pd.read_csv(csv_file_path)

Why it did not work??

Let's have a look at the file first...

In [ ]:
!head -n 2 ../data/apprenticeship_venice/professions_data.csv

More than a comma-separated value, it looks like semicolon-separated values...

In [ ]:
# the `sep` input parameter
# allows us to specify which character/symbol is used
# to separate column values

garzoni_df = pd.read_csv(
    csv_file_path,
    sep=';'
)

**NB**: There may be invalid lines in the data you are reading in. `read_csv()` puts you in full control of that: by setting the param `error_bad_lines=False` we tell `pandas` to ignore the "faulty" lines. 

This means that the entire file will be parsed, but invalid lines will be skipped.

In [ ]:
garzoni_df = pd.read_csv(
    csv_file_path,
    sep=';',
    error_bad_lines=False,
    warn_bad_lines=False, # this turns off also the warnings
)

In [ ]:
garzoni_df.head()

<div class="alert alert-info">
    <b>More format readers</b>
    <p></p>
    Pandas supports more formats than just CSV and JSON. See the library's <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html">documentation</a> for the full list of supported formats.
</div>

### Working with columns

#### Exploring values

In [ ]:
garzoni_df.head(5)

In [ ]:
garzoni_df.a_profession.value_counts()

In [ ]:
garzoni_df.annual_salary.value_counts()

In [ ]:
garzoni_df.annual_salary.value_counts(dropna=False)

In [ ]:
garzoni_df.shape

#### Missing values

The series' methods `isna()` and `notna()` can be used as a way of filtering rows containing missing values (`NaN`).

In [ ]:
garzoni_df[garzoni_df.annual_salary.isna()].shape

In [ ]:
garzoni_df[garzoni_df.annual_salary.notna()].shape

The method DataFrame's method `dropna()` is used to remove rows containing missing values in any of the columns or on a selection.

In [ ]:
garzoni_df.dropna().shape

In [ ]:
garzoni_df.dropna(subset=['annual_salary']).shape

#### Casting

We call *casting* the operation of changing the act of changing the data type of one or more variables.

In [ ]:
# we define a string with value "10"
number_str = "10"

In [ ]:
# we change its type from string (`str`)
# to integeer (`int`). This is call casting

number_int = int(number_str)

In [ ]:
# the types of the two variable are different indeed

type(number_str) == type(number_int)

`pandas` objects like `Series` and `DataFrame` provide the method `astype()` to apply casting on their contents.

In [ ]:
garzoni_df.head(3)

To cast the type of the `profession_cat` column, we can use directly the `astype()` method of the Series:

In [ ]:
professions = garzoni_df.profession_cat.astype('category')

In [ ]:
professions.cat.categories

Another way of doing this while operating on the dataframe is to use the dataframe's `astype()`:

In [ ]:
from pandas.api.types import CategoricalDtype

In [ ]:
profession_cat_type = CategoricalDtype(
    categories=garzoni_df.profession_cat[garzoni_df.profession_cat.notnull()].unique()
)

In [ ]:
garzoni_df.dtypes.profession_cat

In [ ]:
garzoni_df = garzoni_df.astype(
    {
        "profession_cat": profession_cat_type
    }
)

In [ ]:
garzoni_df.profession_cat

#### Adding columns

Let's go back to our toy dataframe:

In [ ]:
toy_df.head()

Using the column selector with the name of a column that does not exist yet will add the effect of setting the values of all rows in that column to the value specified.

In [ ]:
toy_df['country'] = "UK"

In [ ]:
toy_df.head(3)

But if the column already exists, its value is reset:

In [ ]:
toy_df['country'] = "USA"

In [ ]:
toy_df.head(3)

#### Removing columns

The double square bracket notation ``[[...]]`` returns a dataframe having only the columns specified inside the inner brackets.

This said, removing a column is done by unselecting it:

In [ ]:
# here we removed the column country 

toy_df2 = toy_df[['date', 'count', 'event']]

In [ ]:
# it worked!

toy_df2.head()

#### Setting a column as index

In [ ]:
toy_df.set_index('date')

In [ ]:
toy_df.head(3)

In [ ]:
toy_df.set_index('date', inplace=True)

In [ ]:
toy_df.head(3)

**Q**: can you explain the effect of the `inplace` parameter by looking at the cells above?

### Accessing data

 .loc, .iloc, slicing, iteration over rows

In [ ]:
toy_df.head(3)

#### Label-based indexing

In [ ]:
toy_df.loc['1902':'1904']

#### Integer-based indexing

In [ ]:
# select a single row, the first one

toy_df.iloc[0]

In [ ]:
# select  a range of rows by index

toy_df.iloc[[1,3,-1]]

In [ ]:
# select  a range of rows with slicing

toy_df.iloc[0:5]

In [ ]:
toy_df.index

#### Iterating over rows

In [ ]:
for n, row in toy_df.iterrows():
    print(n)

In [ ]:
for n, row in toy_df.iterrows():
    print(n, row.event)

## ‚è∞ ‚úèÔ∏è Time to practice

**Dataset**

For this excercise we will be working with one of the datasets published by the [*Shakespeare and Company project*](https://shakespeareandco.princeton.edu/) ‚Äì the *books dataset* ‚Äì which can be downloaded from the following address: https://dataspace.princeton.edu/bitstream/88435/dsp01jm214s28p/2/SCoData_books_v1.2_2022-01.csv (file size = 1.34 MB)

TODO Content of this dataset?
 
**Steps**

Perform the following steps on the dataset:
- load it into a pandas' dataframe
- how many records does it contain?
- keep only the following columns: `uri`, `format` and `borrow_count`
- remove all rows where `format` value is `NaN`
- how many records does it contain now?

**Try to answer the following questions**

- What's the format(s) of the **most borrowed** document(s)? How many times was it/where they borrowed?
- What's the format(s) of the **least borrowed** document(s)? How many times was it/where they borrowed?